<ion-header>
  <ion-toolbar>
    <ion-title>
      Ingresa tu cédula
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
            <ion-label position="stacked">Cédula <ion-text color="danger">*</ion-text></ion-label>
            <ion-input name="cedula" [(ngModel)]="cedula" required type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Contraseña <ion-text color="danger">*</ion-text></ion-label>
            <ion-input [(ngModel)]="password" name="password" required type="password"></ion-input>
          </ion-item>

          <div class="ion-padding">
              <ion-button (click)="login()" expand="block" type="submit" class="ion-no-margin">Ingresar</ion-button>
          </div>
    </ion-list>
  </form>
</ion-content>
