<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="estudiante">
    <ion-card-header>
      <ion-card-title>Tu información</ion-card-title>
      <ion-card-subtitle><strong>Nombre</strong> {{ estudiante.nombres }}</ion-card-subtitle>
      <p><strong>Institucion:</strong> {{ estudiante.institucion.nombre }}</p>
      <p><strong>Nivel:</strong> {{ estudiante.nivel.nombre }}</p>
    </ion-card-header>
  </ion-card>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col><ion-button (click)="nuevaSolicitud()">
        Nueva solicitud
      </ion-button></ion-col>
      <ion-col><ion-button (click)="verPendientes()">
        Ver pendientes
      </ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
