<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>Seleccionados</ion-title>
      <ion-button size="small" slot="end" (click)="enviarSolicitud()"> Enviar </ion-button>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-item *ngFor= "let documento of documentos">
      <ion-label>
        <h2>{{ documento.nombre }}</h2>
        <h3>{{ documento.descripcion }}</h3>
      </ion-label>
      <ion-button  slot="end" (click)='remover(documento.id)'><ion-icon name="remove"></ion-icon></ion-button>
    </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button slot="end" (click)="dismiss()">Cerrar</ion-button>
  </ion-toolbar>
</ion-footer>
